@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;

<h3>Bu title yeni branch ile değiştirildi</h3>
<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
   
</div>
