@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
   
</div>
